:host {
    ion-badge.ion-color.ion-color-secondary.md.hydrated {
        font-size: larger;
        padding: 3px;
    }
    ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
        font-size: larger;
    }
    ion-icon.md.hydrated {
        font-size: -webkit-xxx-large;
    }
    ion-tab-bar.ion-color.ion-color-primary.md.hydrated {
        height: fit-content;
    }
    ion-checkbox{
        --size: 50px;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
        background: var(--ion-color-secondary)!important;
    }
    canvas {
        border: 2px solid gray;
        border-radius: 25px;
        margin-top: 10px;
    }
    .alert-wrapper.sc-ion-alert-md {
        width: 100%!important;
    }
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--ion-color-secondary)!important;
}
canvas {
    border: 2px solid gray;
    border-radius: 25px;
    margin-top: 10px;
}