<ion-app>
  <!--
    <ion-menu side="start" menuId="first">
        <ion-header>
          <ion-toolbar color=primary>
            <ion-title style="text-align: center;color:white">Menu</ion-title>
          </ion-toolbar>
        </ion-header>

        <ion-content style="--background:white">
          <ion-list>
            <ion-menu-toggle>
                <ion-button fill="clear" color="primary" size="default" (click)="PaginaInicial()"><ion-icon color="blue" name="arrow-dropright" > </ion-icon> Página Principal</ion-button>
            </ion-menu-toggle> 
            <ion-menu-toggle>
                <ion-button fill="clear" color="primary" size="default" (click)="Registrar()"><ion-icon color="blue" name="arrow-dropright"> </ion-icon> Nueva Encuesta</ion-button>
            </ion-menu-toggle> 
            <ion-menu-toggle>
                <ion-button fill="clear" color="primary" size="default" (click)="Continuar()"><ion-icon color="blue" name="arrow-dropright"> </ion-icon> Continuar Encuesta</ion-button>
            </ion-menu-toggle> 
            <ion-menu-toggle>
                <ion-button fill="outline" color="danger" size="default" expand="block" (click)="CerrarSesion()"> Cerrar Sesión</ion-button>
            </ion-menu-toggle>
          </ion-list>
        </ion-content>
      </ion-menu>

    -->
    <ion-router-outlet></ion-router-outlet>
</ion-app>