<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
  <ion-title style="text-align: center" class="ion-text-uppercase">
    Home | Proyecto: {{this.nombreProyecto}}
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div class="row justify-content-center" >
      <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="Registrar()">
          <ion-card-header>
             <ion-img src="assets/imgs/map.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
          </ion-card-header>
             <ion-button class="ion-text-wrap" color="blue" expand="full">Georeferenciación</ion-button>
        </ion-card> 
        <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="IElectrica()">
            <ion-card-header>
               <ion-img src="assets/imgs/list.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Listado de Encuestas</ion-button>
          </ion-card> 
          <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="Seguimiento()">
            <ion-card-header>
               <ion-img src="assets/imgs/group.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Seguimiento a Encuestadores</ion-button>
          </ion-card>
          <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="RevisionE()" *ngIf="global.UserData[6] == 5">
            <ion-card-header>
               <ion-img src="assets/imgs/checklist.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Revisión Encuestas</ion-button>
          </ion-card>  
          <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="Transporte()" *ngIf="global.UserData[6] == 5">
            <ion-card-header>
               <ion-img src="assets/imgs/camion.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Transporte</ion-button>
          </ion-card>  
          <ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="RevisionA()" *ngIf="global.UserData[6] == 5">
            <ion-card-header>
               <ion-img src="assets/imgs/alerta.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Revisión Alertas</ion-button>
          </ion-card> 
          <!--<ion-card class="col-xl-3 col-md-4 col-lg-5 col-sm-5" style="padding: 0px" (click)="Cienaga()">
            <ion-card-header>
               <ion-img src="assets/imgs/list.png" style="width: 30%;max-width: 30%;;margin: auto"></ion-img>
            </ion-card-header>
               <ion-button class="ion-text-wrap" color="blue" expand="full">Listado de Encuestas Ciénaga</ion-button>
          </ion-card> -->
  </div>
</ion-content>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true" [zIndex]="1999999"><p style="color: white" > Cargando... </p></ngx-spinner>