:host {
    .popover-content.sc-ion-popover-md {
        height: 90%!important;
    }
}
.popover-content.sc-ion-popover-md {
    height: 90%!important;
}
:root{
    .popover-content.sc-ion-popover-md {
        height: 90%!important;
    }
}